---
---

@import "variables";

/* =========================
   GENERAL
   ========================= */

body {
  font-family: $bodyFont;
  line-height: $bodyLineHeight;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFont;
  margin-top: 0;
}

h2 {
  color: $mainColor;
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  height: auto;
}

/* =========================
   HEADER
   ========================= */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $navIndex;
  background-color: $navInactiveColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $navDropshadow;
  padding: $navPaddingDesktop;
}

.page-wrapper {
  padding-top: 86px;
}

/* =========================
   HERO (SAFE VERSION)
   ========================= */

section.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 85vh;
  padding: 100px 20px;
}

section.banner#landing-banner {
  background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
              url("/images/home/landing-page-banner-tresna-bali-cooking-school.jpg");
  background-size: cover;
  background-position: center;
}

/* =========================
   GRID RESTORE
   ========================= */

section.flex-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $desktop) {
  section.flex-container {
    flex-direction: row;
  }
}

.column {
  width: 100%;
}

@media screen and (min-width: $desktop) {
  .column {
    width: 50%;
  }
}

/* =========================
   COLUMN CONTENT
   ========================= */

.column.description {
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .column.description {
    padding: 25px;
  }
}
