---
layout: default
title: Culinary and Culture Retreats | Tresna Bali Cooking School
description: "Join our Luxurious, Culturally Immersive Culinary Experience!"
bodyId: retreat-page
---

<!-- Landing Page Banner (Above Fold) -->
<section id="retreat-banner" class="banner">
  <div class="banner-intro">
    <h2>The Experience of a Lifetime</h2>
    <hr />
    <h1>
      Looking for a gastronomical retreat where you are immersed in the
      <em>mysticism</em> of Balinese culture?
    </h1>
  </div>
</section>

<!-- Retreat Intro -->
<section id="retreat-intro" class="flex-container">
  <div class="column description">
    <h2>Tresna Bali Culinary and Culture Retreats (CulCul Retreats)</h2>
    <p>
      <strong
        >CulCul is a play on words. “KulKul” is the traditional Balinese
        communication system in every village centre.</strong
      >
      When it rings, everyone knows immediately what it means. There are
      different sounds for different needs - one rhythm to announce the
      beginning of a ceremony, another urgent banging to get your bucket to help
      with a fire! As a Balinese, you grow up knowing exactly what each sound is
      in your village. However, you’ll be lost if you go into the next village
      as the sounds are different.
    </p>
    <p>
      Tourists visiting Bali often have a hard time learning about the “real
      Bali”. Although the Balinese are beyond friendly and caring, due to
      language and cultural differences, it is very challenging for them to
      explain their way of life to tourists. You’re not on the same “KulKul”
      system.
    </p>
    <p>
      With our CulCul Retreats, you’ll have your very own “KulKul”. With me,
      you’ll gain an inside perspective of Bali’s sacred culture and food. I’ve
      lived here for 19 years. Adi and I built one of Bali’s most exclusive
      travel and wedding agencies (making upmarket clients happy) while living
      in a Balinese family compound (making Balinese In-Laws happy)!
    </p>
    <p>
      I am Bali’s only Holyperson from outside of Bali - through a remarkable
      6-year process from 2010-2016. For the first time, I’ll openly share my
      personal journey with you. We’ll spend 6 magical days together where
      you’ll enjoy unique experiences that I’ve curated for well-travelled
      foodies.
    </p>
    <p>
      Our culinary and cultural retreat, CulCul Retreats, is reserved for only 8
      special guests. My team and I’ll take care of you personally throughout
      your stay.
    </p>
    <p><strong>Get Early Bird Pricing before July 13, 2019!</strong></p>
    <p><a href="#retreat-booking-form" class="button primary">Book Now</a></p>
  </div>

  <div id="retreat-image-1" class="column"></div>
</section>

<!-- Behind Bali's Walls -->
<section id="local-insights" class="flex-container reversed">
  <div class="column description">
    <h2>Behind Bali's Walls</h2>
    <p>
      Even if you have been to Bali 20 times before, with this unique retreat,
      you’ll experience authentic local flavours, traverse the natural
      landscape, and embrace what it means to be truly Balinese and a
      <em>chef at heart</em>.
    </p>
    <p>
      Without a doubt, Bali is beautiful and the Balinese are a loving and
      peaceful society.  However, the majority of Balinese locals have
      difficulty describing the rich culture behind the walls of their family
      compounds.
    </p>
    <p>
      You’ll experience a Bali that is rarely shared with visitors as you learn
      about my devotion to Balinese Temple life and my passionate love affair
      with the best food on the island.
    </p>
    <p><strong>Get Early Bird Pricing Now!</strong></p>
    <a href="#retreat-booking-form" class="button primary">Book Now</a>
  </div>
  <div id="retreat-image-3" class="column"></div>
</section>

<!-- Accommodation -->
<section id="accommodation" class="flex-container">
  <div class="column description">
    <h2>Your Spectacular Stay</h2>
    <p>
      <strong
        >For my CulCul retreats, I’ve chosen the very best resort for your
        stay</strong
      >, giving you the privacy of your own room, suite or villa, while
      indulging in the intimate service of a gorgeous boutique 5-star hotel.
    </p>
    <p>
      <strong> COMO Uma Ubud is my favourite hotel in all of Bali.</strong> As
      an upmarket travel agent and wedding planner for 15 years in Bali, I’m
      intimately familiar with every 5-star resort and villa on the island.
    </p>
    <p>
      <!-- <Photos of main pool, photo of terrace room, and terrace> -->

      Located in the charming village of Ubud in a beautiful tropical river
      ravine setting, COMO Uma Ubud is your luxurious home for the duration of
      our 6-day retreat. The center of Ubud village is just 3 minutes drive or
      15 minutes walk away!
    </p>
    <p>
      <!-- <Photos of Terrace Room, Main Town Ubud> -->

      <strong>You’ll be completely at home at COMO Uma Ubud.</strong> The
      gracious Balinese staff will remember the way you like your coffee on your
      2nd morning! You’ll discover rural Bali on morning treks through rice
      fields and local village.
    </p>
    <ul>
      <li>
        <!-- <Photo of Rice Field Walk> -->

        Stretch out in daily yoga classes, taught by Balinese Yogis trained by
        COMO Shambhala. Imagine yourself doing Warrior 2 overlooking a river
        gorge!
      </li>
      <li>
        <!-- <Photo of Yoga> -->

        On your first evening, I’ll teach you how to make your own Balinese
        Ceremonial Offering, followed by our Welcome Dinner. You’ll meet new
        friends over our custom menu of Indonesian favourites at Kemiri.
      </li>
      <li>
        <!-- <Photo of Kemiri and food> -->

        Over the next 6 days, you’ll completely unravel with 75-minute Signature
        COMO Massages. Of course, we wouldn’t leave you hanging so you get TWO
        massages during your stay! Indulge further as Uma Ubud’s on-site spa
        offers a multitude of COMO Shambhala treatments in 6 lovely spa rooms
        set around the coy ponds.
      </li>
      <li>
        <!-- <Photo of Spa> -->

        Uma boasts a 25m swimming pool great for laps, in a beautiful tropical
        garden setting. Situated at one end is Uma’s Pool Bar – an open-air
        lounge area to hang out, enjoy a tropical cocktail, play board games and
        relax.
      </li>
    </ul>
    <p>
      For more information, visit the
      <a
        href="http://www.comohotels.com/umaubud"
        target="_blank"
        rel="noopener noreferrer"
        >COMO Uma Ubud Official Site.</a
      >
    </p>
  </div>
  <div class="column image">
    <div id="villa-carousel" class="owl-carousel owl-theme">
      <img src="/images/como-uma-ubud-rooms.jpg" alt="Luxurious Villas." />
      <img
        src="/images/como-uma-ubud-terrace.jpg"
        alt="Enjoy stunning views from your private terrace."
      />
      <img
        src="/images/como-uma-ubud-private-pool.jpg"
        alt="Your own private pool."
      />
      <img
        src="/images/como-uma-ubud-private-pool-2.jpg"
        alt="Your own private pool."
      />
      <img
        src="/images/como-uma-ubud-kemiri.jpg"
        alt="Exquisite Dining Options."
      />
      <img
        src="/images/como-uma-ubud-fish.jpg"
        alt="Fish grilled to perfection."
      />
      <img
        src="/images/como-uma-ubud-pool.jpg"
        alt="Relax poolside, day or night."
      />
      <img
        src="/images/como-uma-ubud-pool-2.jpg"
        alt="Relax poolside, day or night."
      />
      <img
        src="/images/como-uma-ubud-Spa.jpg"
        alt="Enjoy a day of pampering at the Spa."
      />
      <img
        src="/images/como-uma-ubud-meditation.jpg"
        alt="Enjoy peaceful guided meditations and yoga."
      />
    </div>
  </div>
</section>

{% include retreat-details.html %} {% include retreat-booking-form.html %}
