---
layout: default
title: Culinary and Culture Retreats | Tresna Bali Cooking School
description: "Join our Luxurious, Culturally Immersive Culinary Experience!"
bodyId: retreat-page
---

<!-- Landing Page Banner (Above Fold) -->
<section id="retreat-banner" class="banner">
  <div class="banner-intro">
    <h2>The Experience of a Lifetime</h2>
    <hr />
    <h1>
      Immerse yourself in the <em>mysticism</em> of Bali on this gastronimical
      retreat.
    </h1>
  </div>
</section>

<!-- Retreat Intro -->
<section id="retreat-intro" class="flex-container">
  <div class="column description">
    <h2>Tresna Bali Culinary and Culture Retreats</h2>
    <p>
      <strong
        >Imagine yourself at a luxurious villa – your every need taken care
        of!</strong
      >
      Tresna Bali Retreats is a culturally immersed culinary experience reserved
      for only 12 participants.
    </p>
    <p>
      On this 6-day retreat, you’ll gain an inside perspective of Bali’s sacred
      culture through magical experiences, curated personally by our Resident
      Balinese Holyperson (Priestess),
      <a
        href="mailto: frances@tresnabali.com?subject=re:%20Tresna%20Bali%20Booking%20Request"
        target="_top"
        ><strong>Frances Tse Ardika</strong></a
      >.
    </p>
    <a href="#retreat-booking-form" class="button primary">Book Now</a>
  </div>
  <div id="retreat-image-1" class="column"></div>
</section>

<!-- Authentic Balinese Experiences -->
<section id="authentic-experiences" class="flex-container reversed">
  <div class="column description">
    <h2>Providing you with authentic Balinese experiences.</h2>
    <p>
      Frances and Adi have cooked for hundreds of foodies from all over the
      world, eaten in thousands of roadside warungs as well as created the most
      decadent wedding feasts with the top Chefs in Bali before building Tresna
      Bali Cooking School from ground up.
    </p>
    <p>
      Frances became Bali’s only Holyperson from outside of Bali through a
      remarkable 6-year process from 2010-2016. For the first time, she’ll share
      her personal journey with you - from when she first set foot in this
      Paradise on October 7, 2000.
    </p>
    <p>
      19 years later, she and Adi manage 5 enterprising small businesses all
      revolving around their passions of food, culture, healing and
      spirituality.
    </p>
    <a href="#retreat-booking-form" class="button primary">Book Now</a>
  </div>
  <div id="retreat-image-2" class="column"></div>
</section>

<!-- Behind Bali's Walls -->
<section id="local-insights" class="flex-container">
  <div class="column description">
    <h2>Behind Bali's Walls</h2>
    <p>
      Without a doubt, Bali is beautiful and the Balinese are a loving and
      peaceful society. However, the majority of Balinese locals have difficulty
      describing the rich culture behind the walls of their family compounds.
    </p>
    <p>
      You’ll experience a Bali that is rarely shared with visitors as you learn
      about Adi and Frances’ devotion to Balinese Temple life and their
      passionate love affair with the best food on the island,
    </p>
    <p>
      Even if you have been to Bali 20 times before, with this unique retreat,
      you’ll experience authentic local flavours, traverse the natural
      landscape, and embrace what it means to be truly Balinese.
    </p>
    <a href="#retreat-booking-form" class="button primary">Book Now</a>
  </div>
  <div id="retreat-image-3" class="column"></div>
</section>

<!-- Accommodation -->
<section id="accommodation" class="flex-container reversed">
  <div class="column description">
    <h2>Your Accommodation</h2>
    <p>
      Located in the charming village of Umalas, near Seminyak, Villa Malaathina
      – set among 5,000 square metres of immaculate tropical gardens and
      surrounded by traditional Balinese rice paddies – is your luxurious home
      for the duration of our 6-day retreat.
    </p>
    <p>
      As an upmarket travel agent and wedding planner for 15 years in Bali,
      Frances is intimately familiar with every 5-star resort and villa in Bali.
      For own retreat, she has selected the very best villa for a group retreat
      - where you enjoy privacy in your luxurious room as well as world class
      facilities such as a 25-metre pool, dedicated yoga studio, media room and
      several indoor and outdoor spaces to relax. We have a team of Balinese and
      Canadian cooks, housekeepers and travel coordinators to take care of your
      every need.
    </p>
    <p>
      For more information, visit the
      <a
        href="http://www.villamalaathina.com/"
        target="_blank"
        rel="noopener noreferrer"
        >Villa Malaathina Official Site.</a
      >
    </p>
  </div>
  <div class="column image">
    <div class="owl-carousel owl-theme" id="cooking-school-pic-carousel">
      <img
        src="/images/villa-malaathina-1.jpg"
        alt="Poolside at our Luxurious Villa."
      />
      <img src="/images/villa-malaathina-4.jpg" alt="Outdoor Lounge." />
      <img
        src="/images/villa-malaathina-2.jpg"
        alt="Semi-Encloused Lounging Area."
      />
      <img
        src="/images/villa-malaathina-3.jpg"
        alt="Semi-Enclosed Dining Area."
      />
      <img src="/images/villa-malaathina-5.jpg" alt="Semi-Enclosed Bar." />
      <img src="/images/villa-malaathina-6.jpg" alt="Enclosed Bar & Lounge." />
      <img src="/images/villa-malaathina-7.jpg" alt="Outdoor Upper Mezzanine" />
      <img
        src="/images/villa-malaathina-8.jpg"
        alt="Private Yoga & Meditation Studio."
      />
      <img src="/images/villa-malaathina-9.jpg" alt="Luxurious Suite." />
      <img src="/images/villa-malaathina-10.jpg" alt="Luxurious Suite." />
      <img src="/images/villa-malaathina-11.jpg" alt="Luxurious Suite" />
      <img src="/images/villa-malaathina-13.jpg" alt="Luxurious Suite" />
      <img src="/images/villa-malaathina-14.jpg" alt="Luxurious Suite" />
      <img
        src="/images/villa-malaathina-12.jpg"
        alt="Luxurious En-suite Bathroom"
      />
    </div>
  </div>
</section>

{% include retreat-details.html %} {% include retreat-booking-form.html %}
