<!-- Footer Section (needs to parallax up) -->
<footer>
  <section id="footer" class="flex-container">
    <div id="contact" class="column description">
      <h3>Contact us</h3>
      <ul>
        <li>
          <a href="tel:+628123963033">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
            +62.81.2396.3033
          </a>
        </li>

        <li>
          <a
            href="mailto:frances@tresnabali.com?subject=re:%20Tresna%20Bali%20Booking%20Request"
            target="_top"
          >
            <i class="fa fa-envelope" aria-hidden="true"></i>
            frances@tresnabali.com
          </a>
        </li>

        <li>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Gang Tresna, Jalan
          Raya Goa Gajah, Banjar Lebah, Bedulu, Ubud, Bali, Indonesia
        </li>
      </ul>
    </div>

    <div id="social" class="column description">
      <ul>
        <li>
          <a
            class="facebook"
            href="https://www.facebook.com/tresnabalicookingschool/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-facebook-official" aria-hidden="true"></i>Like us
            on Facebook</a
          >
        </li>
        <li>
          <a
            class="instagram"
            href="https://www.instagram.com/tresnabalicookingschool/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-instagram" aria-hidden="true"></i>Follow us on
            Instagram</a
          >
        </li>
        <li>&copy; 2018 Tresna Bali</li>
      </ul>
    </div>
  </section>
</footer>
