<!-- Footer Section (needs to parallax up) -->
<footer>
  <section id="footer" class="flex-container">
    <div id="contact" class="column description">
      <h3>Contact us</h3>
      <ul>
        <li>
          <a href="tel:+628123963033">
            <i class="fa fa-phone-square" aria-hidden="true"></i>
            +62.81.2396.3033
          </a>
        </li>

        <li>
          <a
            href="mailto:frances@tresnabali.com?subject=re:%20Tresna%20Bali%20Booking%20Request"
            target="_top"
          >
            <i class="fa fa-envelope" aria-hidden="true"></i>
            frances@tresnabali.com
          </a>
        </li>

        <li>
            <a href="https://g.page/tresnabalicookingschool?share" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i> Gang Tresna, Jalan
          Raya Goa Gajah, Banjar Lebah, Bedulu, Ubud, Bali, Indonesia
            </a>
        </li>
      </ul>
    </div>

    <div id="social" class="column description">
      <ul>
        <li>
          <a
            class="facebook"
            href="/more-info"
            target="_blank"
            rel="noopener noreferrer"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM288 352c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32z"/></svg> For more information</a
          >
        </li>
        <li>
          <a
            class="facebook"
            href="https://www.facebook.com/tresnabalicookingschool/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-facebook-official" aria-hidden="true"></i>Like us
            on Facebook</a
          >
        </li>
        <li>
          <a
            class="instagram"
            href="https://www.instagram.com/tresnabalicookingschool/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fa fa-instagram" aria-hidden="true"></i>Follow us on
            Instagram</a
          >
        </li>
        <li>&copy; 2023 Tresna Bali</li>
      </ul>
    </div>
  </section>
</footer>
