<nav class="mobile-hide">
  <ul>
    <!--
      <li><a href="/our-school">Our School</a></li>
      <li><a href="/our-classes">Our Classes</a></li>
      <li><a href="/private-kitchen">Private Kitchen</a></li>
    -->
    <!-- <li><a href="/food-tales">Food Tales</a></li> -->
    <!-- <li><a href="/contact">Contact</a></li> -->
    <!-- <li><a href="/about">About Us</a></li> -->
    <li><a href="/retreats">All-Inclusive Retreats</a></li>
    <li><a class="button primary" href="/book-now">Book Now</a></li>
  </ul>
</nav>
