<nav id="desktop-only">
  <ul>
    <li><a class="navLink" href="/">Home</a></li>
    <!--
      <li><a class="navLink" href="/our-school">Our School</a></li>
      <li><a class="navLink" href="/our-classes">Our Classes</a></li>
      <li><a class="navLink" href="/private-kitchen">Private Kitchen</a></li>
    -->
    <!-- <li><a class="navLink" href="/food-tales">Food Tales</a></li> -->
    <!--
      <li><a class="navLink" class="navLink"  href="/contact">Contact</a></li>
    -->
    <!-- <li><a class="navLink"  href="/about">About Us</a></li> -->
    <!--
      <li>
        <a class="navLink" href="/retreats">Culinary and Culture Retreats</a>
      </li>
    -->
    <li>
      <a id="book-now" class="button primary" href="/book-now">Book Now</a>
    </li>
  </ul>
</nav>

<!-- Mobile Menu -->
<nav class="mobile">
  <a href="#" id="open">Menu</a>
  <ul id="dropdown-menu">
    <li><a href="/">Home</a></li>
    <!-- <li><a href="/retreats">Culinary and Culture Retreats</a></li> -->
    <li><a href="/book-now">Book Now</a></li>
    <li><a href="#" id="close">Close menu</a></li>
  </ul>
</nav>
