<nav id="desktop-only">
  <ul>
    <li><a class="navLink" href="/">Home</a></li>
    <li><a class="navLink" href="/retreats">Retreats</a></li>
    <li>
      <a id="book-now" class="button primary" href="/book-now">Book Now</a>
    </li>
  </ul>
</nav>

<!-- Mobile Menu -->
<nav class="mobile">
  <ul>
    <li><a href="#" id="open">Menu</a></li>
    <li>
      <a id="book-now" class="button primary" href="/book-now">Book Now</a>
    </li>
  </ul>
  <ul id="dropdown-menu">
    <li><a href="/">Home</a></li>
    <li><a class="navLink" href="/retreats">Retreats</a></li>
    <li><a id="book-now" href="/book-now">Book Now</a></li>
    <li><a href="#" id="close">Close menu</a></li>
  </ul>
</nav>
