<!-- Retreat Details -->
<section id="retreat-details" class="flex-container">
  <div class="wrapper">
    <div id="upcoming-retreats" class="column description thirds">
      <img
        src="../images/feature-image.jpg"
        alt="Experience the beauty of Bali."
      />
      <h2>Upcoming retreats</h2>
      <ul>
        <li>Sunday, October 27, 2019 - Friday, November 1, 2019</li>
        <li>Friday, November 1, 2019 - Wednesday, November 6, 2019</li>
        <li>Monday, April 27, 2020 – Saturday, May 1, 2020</li>
      </ul>
      <a href="#retreat-booking-form" class="button primary">Book Now</a>
    </div>
    <div id="inclusions" class="column description thirds">
      <img
        src="../images/feast-2.jpg"
        alt="Enjoy Traditional Balinese Dishes."
      />
      <h2>What's Included</h2>
      <ul>
        <li>
          Culinary and Culture Talks, led by Resident Holyperson, Frances Tse
          Ardika
        </li>
        <li>
          5 nights, 6 days Luxury Villa Accommodation (2-person occupancy)
        </li>
        <li>
          All Breakfasts & Lunches included at the villa, with some meals out
          exploring
        </li>
        <li>
          5 Group Dinners including Gourmet Asian Street Food, Local Balinese
          Fare, Beachside BBQ and Farewell Feast
        </li>
        <li>Transportation to meals and activities</li>
        <li>Spa Pampering (2 hour package)</li>
        <li>Ayung River Rafting through Tropical Rainforest</li>
        <li>Purifying Temple Ceremony and Artisan Village Tour</li>
        <li>Authentic Hands-On Balinese Cooking Class</li>
        <li>Build your own Personal Webpage Workshop (optional)</li>
        <li>Sunrise Yoga (on non-activity days)</li>
        <li>Airport Transfers</li>
      </ul>
      <p><strong>Note:</strong> Flight cost not included.</p>
    </div>
    <div id="pricing" class="column description thirds">
      <img
        src="../images/monkeys-2.jpg"
        alt="Visit the famouse Monkey Forest."
      />
      <h2>
        Family and Friends of Tresna Bali Cooking School | Early Bird Pricing (6
        spots only) – $1499 USD
      </h2>
      <p>
        <strong>SAVE $500 USD!</strong> This special offer ends on May 15, 2019,
        or whenever the 6 Early Bird Spots are SOLD OUT.
      </p>
      <h2>Payment Plan Price – $1,999 USD</h2>
      <p>
        Secure your spot with a $500 USD deposit and make 2 other payments of
        $650 USD on June 30 and September 15, 2019.
      </p>
      <p>
        <strong>*Rates are per person, based on 2-person occupancy.</strong>
      </p>
      <a href="#retreat-booking-form" class="button primary">Book Now</a>
      <p></p>
    </div>
  </div>
</section>
