<!-- Retreat Details -->
<section id="retreat-details" class="flex-container">
  <div class="wrapper">
    <div id="upcoming-retreats" class="column description thirds">
      <img
        src="../images/como-uma-ubud-aerial.jpg"
        alt="Aerial view of COMO Uma Ubud."
      />
      <h2>Upcoming CulCul Retreats</h2>
      <p><strong> 5 nights, 6 days.</strong></p>
      <ul>
        <li>Sunday, October 13, 2019 – Friday, October 19, 2019</li>
        <li>Sunday, November 10, 2019 – Friday, November 15, 2019</li>
        <li>Sunday, December 15, 2019 – Friday, December 20, 2019</li>
        <li>
          Monday, April 27, 2020 – Saturday, May 1, 2020 (Please enquire for
          2020 pricing)
        </li>
      </ul>
      <a href="#retreat-booking-form" class="button primary">Book Now</a>
    </div>
    <div id="inclusions" class="column description thirds">
      <img
        src="../images/feast-2.jpg"
        alt="Enjoy Traditional Balinese Dishes."
      />
      <h2>What's Included</h2>
      <ul>
        <li>
          Culinary and Cultural Talks, led by Resident Holypeople and Chefs:
          Frances and Adi
        </li>
        <li>
          5 nights, 6 days 5-Star Boutique Stay at COMO UMA Ubud in a lovely
          Terrace Room
        </li>
        <li>
          <strong>All Meals Included</strong> (Beverages are extra charge based
          on personal consumption)
        </li>
        <li><strong>Daily A La Carte Breakfast</strong> at COMO Uma Ubud</li>
        <li>
          <strong>All Lunches:</strong> 9-course Balinese Feast that you cook
          yourself, Babi Guling, Indonesian Rijsttafel
        </li>
        <li>
          <strong>All Group Dinners:</strong> Welcome Dinner, Balinese Crispy
          Duck, Jimbaran Beach Seafood BBQ, and Upmarket Modern Asian Street
          Food
        </li>
        <li>Complimentary yoga by COMO Shambhala teachers</li>
        <li>Morning rice paddy or village walks</li>
        <li>Spa Pampering – 75 minutes Balinese Massage (x2)</li>
        <li>Purifying Temple Ceremony and Artisan Village Tour</li>
        <li>Authentic Hands-On Balinese Cooking Class</li>
        <li>Private Airport Transfers</li>
        <li>Transportation to meals and activities</li>
      </ul>

      <p><strong>Note:</strong> Flight cost not included.</p>
    </div>
    <div id="pricing" class="column description thirds">
      <img
        src="../images/monkeys-2.jpg"
        alt="Visit the famouse Monkey Forest."
      />
      <h2>
        Early Bird Pricing for all 2019 Retreats | One Time Payment upon Booking
        – $2,188 USD per person
      </h2>
      <p>
        <strong>SAVE $500 USD!</strong> This special offer ends on July 13,
        2019.
      </p>
      <h2>Payment Plan Price – $1,999 USD</h2>
      <p>
        Secure your spot with a USD 688 deposit and make 2 other payments of USD
        1,000 on August 15 and October 15, 2019.
      </p>
      <p>
        <strong
          >*Shared Room Rates are based on 2-person occupancy, same gender
          sharing a room.</strong
        >
      </p>
      <a href="#retreat-booking-form" class="button primary">Book Now</a>
      <p></p>
    </div>
  </div>
</section>
