<div class="five-stars">
  <img
    class="star"
    src="/images/tripadvisor/tripadvisor-rating-icon.svg"
    alt="Trip Advisor Star Rating"
  />
  <img
    class="star"
    src="/images/tripadvisor/tripadvisor-rating-icon.svg"
    alt="Trip Advisor Star Rating"
  />
  <img
    class="star"
    src="/images/tripadvisor/tripadvisor-rating-icon.svg"
    alt="Trip Advisor Star Rating"
  />
  <img
    class="star"
    src="/images/tripadvisor/tripadvisor-rating-icon.svg"
    alt="Trip Advisor Star Rating"
  />
  <img
    class="star"
    src="/images/tripadvisor/tripadvisor-rating-icon.svg"
    alt="Trip Advisor Star Rating"
  />
</div>
