<!--Tripadvisor-section to show 3 reviews that pop up into the full reviews on a separate window (but not linked to Tripadvisor, want to keep them on the Villa Sancita site) -->
  <section class="tripadvisor-section">
    <div class="grid-equalHeight no-margin">

        <div class="container">
          <div class="grid-equalHeight">
            <div class="col-2_sm-12 tripadvisor-branding" align="center">
              <a href="https://www.tripadvisor.co.uk/Attraction_Review-g297701-d12396111-Reviews-Tresna_Bali_Cooking_School-Ubud_Bali.html">
                <div class="title">
                  <h5>Tresna Bali Cooking School</h5>
                </div>
                <div class="rating">
                  <img src="/images/tripadvisor/rating-5.png" alt="5/5"> 70 reviews
                </div>
                <div class="ta-logo">
                  <img src="/images/tripadvisor/ta_logo.png" alt="Tripadvisor logo">
                </div>
              </a>
            </div>

            <div class="col-10_sm-12">
              <div class="owl-carousel owl-theme" id="tripadvisor-carousel">
                {% for review in site.reviews reversed %}
                <div class="tripadvisor-review row grid">
                  <div class="tripadvisor-profile col-3_sm-12">
                    <div class="profile-photo">
                      <img src="/images/tripadvisor/{{review.profile-pic}}" alt="">
                    </div>
                    <div class="username">
                      {{review.username}}
                    </div>
                    <div class="location">
                      {{review.location}}
                    </div>
                  </div>
                  <div class="tripadvisor-body col-9_sm-12">
                    <div class="title">
                      <h6><em>"{{review.title}}"</em></h6>
                    </div>
                    <div class="rating">
                      <img src="/images/tripadvisor/rating-5.png" alt="5/5">
                    </div>
                    <div class="review">
                      {{review.content}}
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

    </div>
  </section><!-- end tripadvisor-section -->
