<!-- Trip Advisor Reviews (Manual Input) -->
<section id="tripadvisor" class="flex-container">
  <div class="wrapper">
    <div class="tripadvisor-summary">
      <div class="tripadvisor-logo">
        <a
          href="https://www.tripadvisor.co.uk/Attraction_Review-g297701-d12396111-Reviews-Tresna_Bali_Cooking_School-Ubud_Bali.html"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            src="images/tripadvisor/tripadvisor-logo.svg"
            alt="TripAdvisor
        Logo"
        /></a>
      </div>
      <a
        href="https://www.tripadvisor.co.uk/Attraction_Review-g297701-d12396111-Reviews-Tresna_Bali_Cooking_School-Ubud_Bali.html"
        target="_blank"
        rel="noopener noreferrer"
      >
        <h2>Tresna Bali Cooking School</h2></a
      >
      <div class="rating">
        {% include tripadvisor-stars.html %}
        <p>124 Reviews</p>
      </div>
    </div>
    <div id="tripadvisor-reviews" class="owl-carousel owl-theme">
      {% for review in site.reviews reversed %}
      <div class="tripadvisor-review">
        <img
          class="tripadvisor-user-photo"
          src="{{review.profile-pic}}"
          alt="Photo of {{review.username}}"
        />
        <p><strong>{{review.username}}</strong> ({{review.location}})</p>
        <h3><em>"{{review.title}}"</em></h3>
        {% include tripadvisor-stars.html %} {{review.content}}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
