// Responsive
$desktop: 1024px;
$tablet: 768px;
$mobile: 320px;

// Colors
$mainColor: #970238; // mlc 6 Nov 2019
$white: #fff;
$black: #333;
$lightGrey: #eee;
$tripAdvisorGreen: #50a050;
$clear: transparent; // mlc 29 Oct 2019

// Typography
$headerFont: "Karma";
$bodyFont: "Lato";
$bodyLineHeight: 1.6;

// Root font-size is 16px
$bodyFontSize: 1rem;

// General Styling
$transition: all 0.5s ease;

// Navigation
$navIndex: 9999;
$navPaddingDesktop: 15px 30px;
$navPaddingMobile: 15px 20px;
$navActiveColor: #fff;
$navInactiveColor: rgba(255, 255, 255, 0.8);
$navDropshadow: rgb(90, 90, 90) 0px 1px 15px;

// Link Styling
$navLinkSize: 0.75rem;
$navLinkCase: uppercase;
$navLinkWeight: 700;
$navLinkLetterSpacing: 1.5px;
$navLinkMarginLeft: 30px;

// Button Styling
$buttonPadding: 15px;
$buttonBorderRadius: 4px;
$primaryHover: #3a0510;

// mlc 29 Oct 2019
$col-gutters: 2%;
$top-bottom-padding: 2%;
