<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.description}}">
  <meta name="author" content="{{page.author}}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Vendor CSS
  ––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/lightbox.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">

  <!-- fonts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Karma:400,700|Lato:400,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

  <!-- Custom CSS
  ––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body class={{page.bodyClass}}>

  <!-- header-section -->
  <header class="{{page.headerType}}{{layout.headerType}}">
    <a href="/">
      <img class="logo" src="/images/logo-sidetext.png" alt="logo" />
    </a>
    <nav class="mobile-hide">
      <ul>
        <!-- <li><a class="nav-stacked" href="/our-school">Our School</a></li>
        <li><a class="nav-stacked" href="/our-classes">Our Classes</a></li>
        <li><a class="nav-stacked" href="/private-kitchen">Private Kitchen</a></li>
        <li><a class="nav-stacked" href="/food-tales">Food Tales</a></li> -->
        <!-- <li><a class="nav-stacked" href="/contact">Contact</a></li> -->
        <li><a class="button button-primary" href="/booknow">Book Now</a></li>
      </ul>
    </nav>

    <div class="dropdown-nav mobile-show">
      <a href="#"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
       <div class="dropdown-content mobile-hide">
         <ul>
           <!-- <li><a href="/">Home</a></li>
           <li><a href="/our-school">Our School</a></li>
           <li><a href="/our-classes">Our Classes</a></li>
           <li><a href="/private-kitchen">Private Kitchen</a></li>
           <li><a href="/food-tales">Food Tales</a></li>
           <li><a href="/contact">Contact<a></li> -->
           <li><a href="/booknow">Book Now</a></li>
         </ul>
      </div>
    </div>
  </header>
<!--end header-section-->

  {{content}}

  <div class="maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15782.77796337266!2d115.28767!3d-8.529012!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x96335c981fc15f85!2sTresna+Bali+Cooking+School!5e0!3m2!1sen!2sus!4v1538139642876" width="600" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
  </div>

  <!-- Footer Section (needs to parallax up)-->
  <footer>
      <div class="grid">
        <div class="col-5">
          <h5>Our Food Tales</h5>
          <ul>
            {% for post in site.posts limit:3 %}
              <li class="block">
                <a href="{{post.url}}">{{post.title}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="col-1"></div>

        <div class="col-6">
          <h5>Contact us</h5>
          <ul>

            <li class="block">
              <a href="tel:+628123963033">
                <i class="fa fa-phone-square" aria-hidden="true"></i> +62.81.2396.3033
              </a>
            </li>

            <li class="block">
              <a href="mailto:frances@tresnabali.com">
                <i class="fa fa-envelope" aria-hidden="true"></i> frances@tresnabali.com
              </a>
            </li>

            <li class="block">
              <i class="fa fa-map-marker" aria-hidden="true"></i> Gang Tresna, Jalan Raya Goa Gajah, Banjar Lebah, Bedulu, <br />Ubud, Bali, Indonesia
            </li>
          </ul>
        </div>

        <div class="col center">
          <a class="facebook" href="https://www.facebook.com/tresnabalicookingschool/?hc_ref=SEARCH&fref=nf"><i class="fa fa-facebook-official" aria-hidden="true" target="_blank"></i> Facebook</a>
          |
          <a class="instagram" href="https://www.instagram.com/tresnabalicookingschool/"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i> Instagram</a>
          | &copy; 2018 Tresna Bali
        </div>
      </div>
    </div>
  </footer>

  <!-- JQuery Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
  <script src="/js/owl.carousel.min.js"></script>

  <!-- Our Awesome Custom Scripts -->
  <script src="/js/script.js"></script>
</body>
</html>
