<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="{{page.bodyClass}}">
    <!-- header-section -->
    {% include header.html %}
    <!-- end header-section -->
    {{content}} {% include footer.html %}

    <!-- JQuery Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="/js/owl.carousel.min.js"></script>

    <!-- Our Awesome Custom Scripts -->
    <script src="/js/script.js"></script>
  </body>
</html>
